Node-RED_Flows/Lab2 Node-RED flow.json
[
    {
        "id": "660082b2.25a52c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e34000f9.0da0d",
        "type": "inject",
        "z": "660082b2.25a52c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "8790bf25.ab58f"
            ]
        ]
    },
    {
        "id": "8790bf25.ab58f",
        "type": "file in",
        "z": "660082b2.25a52c",
        "name": "",
        "filename": "/tmp/tmp.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "cf0d8f31.398e2"
            ]
        ]
    },
    {
        "id": "cf0d8f31.398e2",
        "type": "ui_gauge",
        "z": "660082b2.25a52c",
        "name": "",
        "group": "dfe72d8.da28cd",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Robot Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": 0,
        "max": "13",
        "colors": [
            "#500000",
            "#500000",
            "#500000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "dfe72d8.da28cd",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "6483cf3e.a967e",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "6483cf3e.a967e",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]

