Node-RED_Flows/Lab3 Node-RED flow.json
[
    {
        "id": "1f7ec77d.3d1729",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c1aba182.9f1ed",
        "type": "inject",
        "z": "1f7ec77d.3d1729",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "2d4e793b.3c60b6",
                "d7d485a0.4053d8"
            ]
        ]
    },
    {
        "id": "2d18510f.23256e",
        "type": "ui_text",
        "z": "1f7ec77d.3d1729",
        "group": "dfe72d8.da28cd",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Cardinal Direction",
        "label": "Cardinal Direction",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "62afa048.f6232",
        "type": "ui_gauge",
        "z": "1f7ec77d.3d1729",
        "name": "Compass Heading",
        "group": "dfe72d8.da28cd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Compass",
        "label": "degrees",
        "format": "{{value}}",
        "min": "-180",
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "2d4e793b.3c60b6",
        "type": "file in",
        "z": "1f7ec77d.3d1729",
        "name": "",
        "filename": "/tmp/tmpdegrees.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "62afa048.f6232"
            ]
        ]
    },
    {
        "id": "d7d485a0.4053d8",
        "type": "file in",
        "z": "1f7ec77d.3d1729",
        "name": "",
        "filename": "/tmp/tmpheading.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "2d18510f.23256e"
            ]
        ]
    },
    {
        "id": "dfe72d8.da28cd",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "6483cf3e.a967e",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "6483cf3e.a967e",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]
